<div class="price">
  {%- if product.compare_at_price > product.price -%}
    <span class="visually-hidden">Regular price</span>
    <s class="price__regular">{{ product.compare_at_price | money }}</s>
    <span class="visually-hidden">Sale price</span>
    <span class="price__sale">{{ product.price | money }}</span>
  {%- else -%}
    <span class="visually-hidden">Regular price</span>
    <span class="price__regular">{{ product.price | money }}</span>
  {%- endif -%}
  {%- if product.unit_price_measurement -%}
    <div class="unit-price">
      <span class="visually-hidden">Unit price</span>
      <span>{{ product.unit_price | money }}</span>
      <span aria-hidden="true">/</span>
      <span class="visually-hidden">&nbsp;per&nbsp;</span>
      <span>
        {%- if product.unit_price_measurement.reference_value != 1 -%}
          {{- product.unit_price_measurement.reference_value -}}
        {%- endif -%}
        {{ product.unit_price_measurement.reference_unit }}
      </span>
    </div>
  {%- endif -%}
</div>
