<div class="customer account page-width">
  <div class="customer__header">
    <h1>Account</h1>
    <a href="{{ routes.account_logout_url }}">Log out</a>
  </div>

  <div class="grid grid--2-col">
    <div class="grid__item">
      <h2>Order history</h2>
      {%- paginate customer.orders by 20 -%}
        {%- if customer.orders.size > 0 -%}
          <table role="table" class="order-history">
            <thead role="rowgroup">
              <tr role="row">
                <th id="ColumnOrder" scope="col" role="columnheader">Order</th>
                <th id="ColumnDate" scope="col" role="columnheader">Date</th>
                <th id="ColumnPayment" scope="col" role="columnheader">Payment status</th>
                <th id="ColumnFulfillment" scope="col" role="columnheader">Fulfillment status</th>
                <th id="ColumnTotal" scope="col" role="columnheader">Total</th>
              </tr>
            </thead>
            <tbody role="rowgroup">
              {%- for order in customer.orders -%}
                <tr role="row">
                  <td id="RowOrder" role="cell" headers="ColumnOrder" data-label="Order">
                    <a href="{{ order.customer_url }}" aria-label="Order number {{ order.name }}">{{ order.name }}</a>
                  </td>
                  <td headers="RowOrder ColumnDate" role="cell" data-label="Date">
                    {{ order.created_at | time_tag: format: 'date' }}
                  </td>
                  <td headers="RowOrder ColumnPayment" role="cell" data-label="Payment status">
                    {{ order.financial_status_label }}
                  </td>
                  <td headers="RowOrder ColumnFulfillment" role="cell" data-label="Fulfillment status">
                    {{ order.fulfillment_status_label }}
                  </td>
                  <td headers="RowOrder ColumnTotal" role="cell" data-label="Total">
                    {{ order.total_net_amount | money_with_currency }}
                  </td>
                </tr>
              {%- endfor -%}
            </tbody>
          </table>
          {% render 'pagination', paginate: paginate %}
        {%- else -%}
          <p>You haven't placed any orders yet.</p>
        {%- endif -%}
      {%- endpaginate -%}
    </div>
    <div class="grid__item">
      <h2>Account details</h2>
      {{ customer.default_address | format_address }}
      <a href="{{ routes.account_addresses_url }}">View addresses ({{ customer.addresses_count }})</a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Account",
  "settings": []
}
{% endschema %}
