<div class="cart-items page-width">
  <div class="cart-items__header">
    <h1>{{ 'general.cart.title' | t | default: 'Your cart' }}</h1>
    <a href="{{ routes.all_products_collection_url }}" class="underlined-link">{{ 'general.continue_shopping' | t }}</a>
  </div>

  {%- if cart == empty -%}
    <div class="cart__warnings center">
      <h2>{{ 'general.cart.empty' | t | default: 'Your cart is empty' }}</h2>
      <a href="{{ routes.all_products_collection_url }}" class="button">{{ 'general.continue_shopping' | t }}</a>
    </div>
  {%- else -%}
    <form action="{{ routes.cart_url }}" class="cart__contents" method="post" id="cart">
      <table class="cart-items__table">
        <thead>
          <tr>
            <th colspan="2">Product</th>
            <th>Quantity</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          {%- for item in cart.items -%}
            <tr class="cart-item">
              <td class="cart-item__media">
                {% if item.image %}
                  <img src="{{ item.image | image_url: width: 150 }}" alt="{{ item.image.alt | escape }}" loading="lazy" width="150" height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}" loading="lazy">
                {% endif %}
              </td>
              <td class="cart-item__details">
                <a href="{{ item.url }}" class="cart-item__name">{{ item.product.title | escape }}</a>
                {%- if item.product.has_only_default_variant == false or item.properties.size != 0 or item.selling_plan_allocation != nil -%}
                  <dl>
                    {%- if item.product.has_only_default_variant == false -%}
                      {%- for option in item.options_with_values -%}
                        <div class="product-option">
                          <dt>{{ option.name }}: </dt>
                          <dd>{{ option.value }}</dd>
                        </div>
                      {%- endfor -%}
                    {%- endif -%}
                    {%- if item.selling_plan_allocation != nil -%}
                      <div class="product-option">
                        <dt>Subscription: </dt>
                        <dd style="color: var(--color-accent);">{{ item.selling_plan_allocation.selling_plan.name }}</dd>
                      </div>
                    {%- endif -%}
                  </dl>
                {%- endif -%}
                <div class="cart-item__price-wrapper">
                  {{ item.original_price | money }}
                </div>
              </td>
              <td class="cart-item__quantity">
                <div class="quantity">
                  <input class="quantity__input" type="number" name="updates[]" value="{{ item.quantity }}" min="0" aria-label="Quantity for {{ item.product.title | escape }}" id="Quantity-{{ item.index | plus: 1 }}">
                </div>
                <a href="{{ item.url_to_remove }}" class="button button--tertiary">Remove</a>
              </td>
              <td class="cart-item__totals">
                {{ item.final_line_price | money }}
              </td>
            </tr>
          {%- endfor -%}
        </tbody>
      </table>
    </form>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Cart Items",
  "settings": []
}
{% endschema %}
