<div class="watch-technology">
  <div class="page-width">
    {%- if section.settings.heading != blank -%}
      <h2 class="center">{{ section.settings.heading | escape }}</h2>
    {%- endif -%}

    <div class="grid grid--2-col">
      <div class="grid__item watch-technology__media">
        {%- if section.settings.image != blank -%}
           <img src="{{ section.settings.image | image_url: width: 800 }}"
               alt="{{ section.settings.image.alt | escape }}"
               width="800"
               height="{{ 800 | divided_by: section.settings.image.aspect_ratio | ceil }}"
               loading="lazy">
        {%- else -%}
          {{ 'product-3' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
      </div>
      <div class="grid__item watch-technology__details">
        {%- for block in section.blocks -%}
          <div class="technology-feature" {{ block.shopify_attributes }}>
            <h3>{{ block.settings.title }}</h3>
            <p>{{ block.settings.text }}</p>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Watch Technology",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Calibre Excellence",
      "label": "Heading"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Movement Image"
    }
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "Feature",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Power Reserve",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "text",
          "default": "70 hours of uninterrupted performance.",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Watch Technology",
      "blocks": [
        { "type": "feature" },
        { "type": "feature" }
      ]
    }
  ]
}
{% endschema %}
